@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    background-color:#121212;
    
  }

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: 200px;
    width: 350px;
    border: 5px solid #f9f9f9;
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: center;
} 


.custom-restricted-width {
    display: inline-block;
    height: 50px;

}

.center {
    border: 5px solid #f9f9f9;
    display: flex;
    justify-content: center;
    text-align: center;
}

a {
    border-radius: 10px;
}
