smallTab {
    margin-left: 250px;
}

body {
    background-color:#121212;
    color:lime;
    
  }
  
a, li {
  
    color:lime;
  
}

.center {
    border: 5px solid #f9f9f9;
    display: flex;
    justify-content: center;
    text-align: center;
    }